* {
	box-sizing: border-box;
}
body {
	margin:0px;
	padding:0px;
	font:poppins;
}
#section {
	display: flex;
	width: 100%;
	height: 60vh;
	position: relative;
}
nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	position:fixed;
	top:0px;
	left:0;
	width:100%;
	background-color: white;
	box-shadow: 5px 10px 30px rgba(0,0,0,0.02);
}
.logo img{
	height:45px;

}
.menu li a{
	height: 40px;
	line-height:43px;
	margin:3px;
	padding:0px 22px;
	display:flex;
	font-size: 0.8em;
	font-weight:500;
	letter-spacing: 1px;
	color:gray;
}
.menu {
	list-style: none;
	display: flex;
}
a { 
	text-decoration: none;
}
.hi{
	color:#39bfbd;
	font-weight:500;
	font-size: 0.9em;
	border-bottom:2px solid #39bfbd;
}
.image {
	width:500px;
	height:500px;

}
.image img{
	width:100%;
	height:90%;
	object-fit: contain;
}
.content{
	display:flex;
	width:90%;
	justify-content: space-around;
	align-items:center;
	position:absolute;
	left:50%;
	right:50%;
	transform: translate(-50%,-50%);
	z-index: 1;

}
.desc {
	width:500px;
}
.desc h1{
	font-size:3.5em;
	color:#1c3548;
	margin:0px 0px 10px 0px;
	line-height: 60px;
}
.desc p{
	color:gray;
}
.aboutme{
	width:190px;
	height:44px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #1db096;
    border-radius: 20px;
    box-shadow:5px 10px 30px rgba(24, 139, 119, 0.2);

}
.aboutme:hover{
	background-color:#23cdaf;
	transition: all ease 0.2s;
}
.menu li a:hover{
	background-color: #23cdaf;
	color:white;
	box-shadow:5px 10px 30px rgba(24, 139, 119, 0.2);
	transition: all ease 0.2s;

}
.cont{
	display:flex;
	width:90%;
	justify-content: space-around;
	align-items:center;
	left:50%;
	right:50%;
	z-index: 1;

}
.abt{
	width:50%;	
}
.abt p{
	color:gray;
}
.pic{
	width:500px;	
	height:500px;

}
.pic img{
	width:100%;
	height:100%;
	object-fit: contain;
}

.table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #23cdaf;
}
tr:nth-child(odd) {
  background-color: #fff ;
}





* {
  box-sizing: border-box;
}


input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color:#23cdaf;
}


.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}









